@tailwind base;
@tailwind components;
@tailwind utilities;

.input-field {
  padding-left: 1rem; 
  height: 3rem; 
  border: 2px solid #0a1b33; 
  border-radius: 9999px; 
}

.input-label {
  left: 1.5rem; 
  top: 0.5rem;
  transform: translateY(0%);
  opacity: 1;
  transition: transform 0.2s, font-size 0.2s, opacity 0.2s;
}

.input-field:focus {
  outline: none;
  border-color: #8C65F7; 
}

.button-submit {
  padding: 0.5rem;
  border-radius: 9999px; 
  background-image: linear-gradient(to right, #8C65F7, #E03FA2); 
}
.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label,
.input-field:valid + .input-label {
  transform: translateY(-150%);
  font-size: 0.75rem;
  opacity: 0;
}
